.card-item[data-activo] {
    opacity: 1;
    z-index: -10;
    transition: opacity 0.5s ease; /* Add a smooth transition */
}

.card-item img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-position: center;
}

.card-item {
    z-index: -10;
    list-style: none;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.5s ease; /* Add a smooth transition */
}
