.cardNexoContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
  justify-content: space-around;
  align-content: space-around;
  margin: 2rem 1rem 0 1rem;
  padding-bottom: 6rem;
}

@media (max-width: 420px) {
  .cardNexoContainer {
    gap: 0.5em;
    margin: 2rem 0 0 0;
  }
}
@media (min-width: 480px) {
  .cardNexoContainer {
    margin: 1rem 4rem 0 4rem;
    gap: 1.5rem;
  }
}
@media (min-width: 650px) {
  .cardNexoContainer {
    margin: 1rem;
    flex-wrap: nowrap;
  }
}
