footer {
    width: 100vw;
    position: absolute;
    bottom: 0%;
    left: 0;
}

footer .container {
    background-color: #682c0e;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .copyright {
    background-color: #d36c27;
    font-size: smaller;
    padding: 0.25rem;
}
