body {
    background-color: #894213;
}
.header-menu {
    padding: 2rem 0rem 0 0rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.icons-container {
    background-color: #682c0e;
    opacity: 80%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
}
.active {
    filter: grayscale(100%) invert(1);
}
